body {
  padding-top: 40px;
  padding-right: 40px;
}

.userData{
	background-color: yellow;
	padding-top: 20px;
	
}
.left {
float: left;
padding: 0 20px 20px 0;
border : 1px;
 width: 200px;
 height: 200px;
}

.search{
	width:250px;
	float: right;
}

label {
	width:100px;
}

.dugme{
	 position: relative;
    left: 200px;
	
}

.izmena{
	box-sizing: border-box; 
}